*.log             # Ignore all files with the .log extension
*.tmp             # Ignore all files with the .tmp extension

build/            # Ignore any directory named "build"
**/temp/          # Ignore any directory named "temp" at any level of the directory structure

.vs/              # Ignore Visual Studio files

FileContentIndex/*
Migrations/*